<!--  
 <div class="p-d-none p-d-md-block summary-list">
    <ng-template ngFor let-receipe [ngForOf]="receipeList">
        <div class="p-fluid p-grid p-pt-2 p-d-flex p-nogutter p-ai-center b-bottom">
            <div class="p-lg-5 p-md-6 vertical">
                <img class="img-thumb" [src]="receipe.image" />
                <span class="subTitle">{{receipe.name}}</span>
            </div>
            <div class="p-lg-1 p-md-1">
                <span class="subTitle">x{{receipe.count}}</span>
            </div>
            <div class="p-lg-4 p-md-3">
                <span class="tertary-font">{{receipe.comments}}</span>
            </div>
            <div class="p-lg-2 p-md-2">
                <div class="subTitle">{{receipe.price}}₽</div>
            </div>
        </div>
    </ng-template>
</div>


  -->


<!-- res-order-list.component.html -->

<div class="p-d-none p-d-md-block summary-list" *ngIf="order">
    <ng-template ngFor let-product [ngForOf]="order.products">
      <div class="p-fluid p-grid p-pt-2 p-d-flex p-nogutter p-ai-center b-bottom">
        <div class="p-lg-5 p-md-6 vertical">
          <img class="img-thumb" src="assets/placeholder.png" />
          <span class="subTitle">{{product.productName}}</span>
        </div>
        <div class="p-lg-1 p-md-1">
          <span class="subTitle">x{{product.OrderProduct.quantity}}</span>
        </div>
        <div class="p-lg-4 p-md-3">
          <span class="tertary-font">{{product.productDescription}}</span>
        </div>
        <div class="p-lg-2 p-md-2">
          <div class="subTitle">{{product.productPrice}}₽</div>
        </div>
      </div>
    </ng-template>
  </div>
  